---
title: netlify-plugin-sitrep
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style type="text/css">
    	body {
    		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    		font-size: 14px;
    	}

  		#container {
  			max-width: 50%;
  			margin: 50px;
  		}

  		@media only screen and (max-width: 600px) { 
  			#container {
  				max-width: 100% !important;
  				margin: 20px;
  			}
  		}
    </style>
  </head>
  <body>
  	<div id="labs-bar">
  	</div>
  	<div id="container">
    {{ content | safe }}
	</div>
  </body>
</html>